<%- include('partials/header') %>

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="/register" method="post">
        <h3>Register Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Email" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password">

        <button>Register</button>
    </form>

    <%- include('partials/footer') %>