.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.submit {
    order: 1;
}

.register {
    order: 2;
}

h2{
    text-align: center;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}